<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start">
    <img id="logo" src="/assets/AbleServices_Logo.png" alt="Logo"
      height="250">
  </div>
  <form #frmLogin="ngForm"
    (ngSubmit)="OnSubmit(userName.value,password.value)" fxFlex="30"
    fxFlex.lt-lg="75" fxFlex.gt-lg="20">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>
        Log In
      </mat-card-title>
      <mat-card-content>

        <div fxLayout="column">
          <mat-form-field>
            <input matInput #userName placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput #password placeholder="Password" type="password">
          </mat-form-field>
          <mat-checkbox>Remember Me</mat-checkbox>
        </div>

      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center start">
        <button mat-raised-button color="accent" type="submit">Login</button>
        <a mat-raised-button color="accent" [routerLink]="[ '/createUser']">Create
          New User</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
