<div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="25px">
    <mat-card fxFlex="45%" fxFlex.lt-md="100%">
        <mat-card-title>Templates</mat-card-title>
        <mat-card-content>
            <mat-tab-group>

            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="45%" fxFlex.lt-md="100%">
            <mat-card-title>CDFs</mat-card-title>
            <mat-card-content>
                <mat-tab-group>
    
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
</div>
